In [6]:
import pandas as pd

In [7]:
data = pd.read_csv('../silver/GasPricesinBrazil_limpo_2004-2019.csv', sep=';')
data.head(5)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,"1,288","0,02","1,19","1,35","0,46","0,01","0,82","0,11","0,42","0,97","0,13",5,2004
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,"1,162","0,11","0,89","1,45","0,4","0,1","0,76","0,09","0,5","1,05","0,12",5,2004
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,"1,389","0,1","1,18","1,76","0,42","0,07","0,97","0,1","0,56","1,16","0,1",5,2004
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,"1,262","0,07","1,09","1,51","0,43","0,06","0,83","0,12","0,6","1,22","0,14",5,2004
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,"1,181","0,08","1,05","1,4","0,24","0,07","0,94","0,08","0,74","1,03","0,08",5,2004

In [8]:
# Exibindo os valores únicos da coluna 'REGIÃO'
data['REGIÃO'].unique()

array(['CENTRO OESTE', 'NORDESTE', 'NORTE', 'SUDESTE', 'SUL'],
      dtype=object)

In [9]:
# FILTRANDO OS DADOS POR REGIÃO
NORTE = data['REGIÃO'] == 'NORTE'
data[NORTE].head(5)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
13,2004-05-09,2004-05-15,NORTE,ACRE,ETANOL HIDRATADO,33,R$/l,"1,805","0,13","1,5","1,98","0,69","0,07","1,12","0,17","0,77","1,3","0,15",5,2004
14,2004-05-09,2004-05-15,NORTE,AMAPA,ETANOL HIDRATADO,15,R$/l,"1,785","0,04","1,74","1,85","0,41","0,02","1,37","0,17","0,83","1,49","0,12",5,2004
15,2004-05-09,2004-05-15,NORTE,AMAZONAS,ETANOL HIDRATADO,53,R$/l,"1,578","0,12","1,28","1,85","0,44","0,08","1,14","0,07","0,95","1,21","0,06",5,2004
16,2004-05-09,2004-05-15,NORTE,PARA,ETANOL HIDRATADO,104,R$/l,"1,914","0,25","1,27","2,4","0,54","0,13","1,38","0,24","0,76","1,89","0,17",5,2004
17,2004-05-09,2004-05-15,NORTE,RONDONIA,ETANOL HIDRATADO,97,R$/l,"1,545","0,14","1,25","1,99","0,53","0,09","1,01","0,15","0,52","1,33","0,15",5,2004

In [11]:
# Exibindo os valores únicos da coluna 'ESTADO'
data['ESTADO'].unique()

array(['DISTRITO FEDERAL', 'GOIAS', 'MATO GROSSO', 'MATO GROSSO DO SUL',
       'ALAGOAS', 'BAHIA', 'CEARA', 'MARANHAO', 'PARAIBA', 'PERNAMBUCO',
       'PIAUI', 'RIO GRANDE DO NORTE', 'SERGIPE', 'ACRE', 'AMAPA',
       'AMAZONAS', 'PARA', 'RONDONIA', 'RORAIMA', 'TOCANTINS',
       'ESPIRITO SANTO', 'MINAS GERAIS', 'RIO DE JANEIRO', 'SAO PAULO',
       'PARANA', 'RIO GRANDE DO SUL', 'SANTA CATARINA'], dtype=object)

In [12]:
# Salvando os dados filtrado por REGIÃO em um novo arquivo csv
data[data['REGIÃO'] == 'CENTRO OESTE'].to_csv('CENTRO_OESTE.csv', sep=';', decimal=',', index=False)
data[data['REGIÃO'] == 'NORDESTE'].to_csv('NORDESTE.csv', sep=';', decimal=',', index=False)
data[data['REGIÃO'] == 'NORTE'].to_csv('NORTE.csv', sep=';', decimal=',', index=False)
data[data['REGIÃO'] == 'SUDESTE'].to_csv('SUDESTE.csv', sep=';', decimal=',', index=False)
data[data['REGIÃO'] == 'SUL'].to_csv('SUL.csv', sep=';', decimal=',', index=False)